<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{$Think.config.web.json.title}</title>
  <meta name="applicable-device" content="pc,mobile" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="keywords" content="{$Think.config.web.calctime.keywords}" />
  <meta name="description" content="{$Think.config.web.calctime.description}" />
  <meta name="renderer" content="webkit" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" />
  <link href="/static/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/style/tool.css" rel="stylesheet" type="text/css" />
  <!-- 引入React和ReactDOM -->
  <script src="/static/react@18/umd/react.production.min.js"></script>
  <script src="/static/react-dom@18/umd/react-dom.production.min.js"></script>
  <!-- 引入构建文件 -->
  <script src="/static/script/superjson/json-tools.umd.js"></script>
  <!--[if lt IE 9]><script src="//apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script><script src="//apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->{:$Think.config.web.header}
</head>

<body>
  {include file="header" /}
  <div class="container" style="margin-bottom: 10px;margin-top: -10px;">
    <div id="json-tools-root"></div>
  </div>
  <script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/script/tool.js" type="text/javascript"></script>
  <script>
    // 等待文档和脚本完全加载
    window.addEventListener('load', function () {
      try {
        console.log('Window JSONTools:', window.JSONTools); // 调试用
        if (typeof window.JSONTools === 'undefined') {
          throw new Error('JSONTools 未正确加载');
        }
        if (typeof window.JSONTools.mount !== 'function') {
          throw new Error('JSONTools.mount 不是一个函数');
        }
        window.JSONTools.mount(document.getElementById('json-tools-root'));
      } catch (error) {
        console.error('挂载 JSONTools 时发生错误:', error);
      }
    });
  </script>
  <script
    type="text/javascript">var bs = [1, 24, 0.1428571, 1440.0000288, 86400, 86400000, 0.0027397]; var num = 0; $(".BtnHS").on("click", function () { num = $(this).prev().val(); if (num != "" && !isNaN(num)) { var tag = num / bs[$(".TimeCountCent li").index($(this).parent())]; $(".TimeCountCent li").each(function (ind) { $(this).find(".TimeTxt").val(bs[ind] * tag) }) } }); $("#reset").on("click", function () { $("input[type='text']").val("") });;</script>
  {include file="nav" /}
  {include file="link" /}
</body>

</html>